<!--Source: "Python Web Service from Idea to Production" by Tero Karvinen--!>

{% if not title %}
	{% set title = "Song List" %}
{% endif %}

<!DOCTYPE html>
<head>
	<title>{{title}}</title>
	<meta charset="UTF-8">
	<meta name=viewport
		content="width=device-width, initial-scale=1">
</head>

<style>
	body {font-family:sans-serif; text-align:center}
</style>

<body>
	<h1> Song List Application </h1>

	<nav>
		<a href="/">Index</a> --
		<a href="/new">New</a>
	</nav>

	{% block message %}

		{% if get_flashed_messages() %}

			{% for msg in get_flashed_messages() %}

				<p><b>{{msg}}</b></p>

			{% endfor %}

		{% endif %}

	{% endblock message %}


	{% block content %}

	{% endblock content %}

</body>

</html>

