<!--Sources: course material--!>

<!DOCTYPE html>

<html>

<head>
	<title>Input Form</title>
	<meta charset="UTF-8">
	<meta name = viewport
		content="width=device-width, initial-scale=1">

</head>

<style>
	body {font-family: sans-serif; text-align: center}
</style>

<body>
	<h1>Input Form</h1>
	<form method="POST">
		<label>Username:<br>
		<input type=text name="username"></label><br><br>
		<label>Email:<br>
		<input type=email name="email"></label><br><br>
		<label>Password:<br>
		<input type=password name="password"></label><br><br>
		<label>I am a student:
		<input type=checkbox name="iamstudent"></label><br><br>
		
		<input type=submit>
</body>

</html>
