<!--Source: "Python Web Service from Idea to Production" by Tero Karvinen--!>

{% if not title %}
	{% set title = "Game Characters" %}
{% endif %}

<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="UTF-8">
	<meta name=viewport
		content="width=device-width, initial-scale=1">
</head>

<style>
	body { font-family:sans-serif; text-align:center }
</style>


<body>

	<h1>Game Characters</h1>

	<nav>
		<a href="/">Index</a> --
		<a href="/new">Add</a>
	</nav>

	{% block content %}

	{% endblock content %}

</body>

</html>
